<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="shop-config.properties"/>
    <settings>
        <setting name="logImpl" value="LOG4J2"/>
    </settings>
    <typeAliases>
        <typeAlias alias="User" type="${user}"/>
        <typeAlias alias="Address" type="${address}"/>
        <typeAlias alias="Category" type="${category}"/>
    </typeAliases>
    <typeHandlers>
        <typeHandler handler="shop.mybatis.handler.RoleHandler" javaType="shop.enums.Role"/>
    </typeHandlers>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper class="shop.mybatis.map.UserMapper"/>
        <mapper class="shop.mybatis.map.AddressMapper"/>
        <mapper class="shop.mybatis.map.CategoryMapper"/>
    </mappers>
</configuration>