<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="shop.mybatis.map.CartProductMapper">
    <insert id="add" parameterType="CartProduct" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_cart_product(pid, num, price, oid)
        VALUES (#{product.id}, #{purchaseNum}, #{price}, #{oid})
    </insert>
    <delete id="delete" parameterType="int">
        DELETE FROM t_cart_product WHERE oid = #{oid}
    </delete>

</mapper>